---
layout: default
sitemap:
  changefreq: 'weekly'
---

<div class="container-fluid main-body">

    <div class="row">
        <div class="col-xs-7">
            <div clsss="row post-list">            
        
                {% for post in paginator.posts %}
                <div class="post-item">
                    <a class="h1" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                    <div class="post-time">
                    <span class="glyphicon glyphicon-time"></span>
                    {{ post.date | date: "%b %-d, %Y" }}
                    </div>
                    <p class="lead">{{ post.description }}</p>
                </div>
                {% endfor %}
            </div>
            <div class="row paginator">
                <div class="col-xs-6 text-left">
                    {% if paginator.previous_page %}
                
                        {% if paginator.previous_page == 1 %}
                        <a href="/" class="btn btn-primary btn-lg" role="button" ><span class="glyphicon glyphicon-arrow-left"> NEW <span class="glyphicon glyphicon-arrow-left"></a>
                        {% else %}
                        <a href="{{ paginator.previous_page_path }}" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-circle-arrow-left"></span>NEW<span class="glyphicon glyphicon-circle-arrow-left"></a>
                        {% endif %}
                    
                    {% endif %}
                </div>
                
                <div class="col-xs-6 text-right">
                    {% if paginator.next_page %}
                    
                    <a href="{{ paginator.next_page_path }}" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-arrow-right"></span> &nbsp;&nbsp;OLD &nbsp;&nbsp;<span class="glyphicon glyphicon-arrow-right"></span></a>
                    
                    
                    {% endif %}
                </div>
            
            </div>
        </div>
        <div class="col-xs-1">
            
        </div>
        <div class="col-xs-4 side-info">
            <div class="row">
                <div class="col-xs-12">
                    <img src="{{ "/img/me.png" | prepend: site.baseurl }}" class="img-thumbnail photo" alt="ChrisCheng">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h2>程澈</h2>
                    <h4>一个新鲜的游戏开发攻城狮</h4>
                    <h4>一个Web技术的爱好者</h4>
                    <h4>最近被Ukulele吸引，准备进入混乱的艺术世界</h4>    
                </div>
            </div>
            
        </div>
    </div>
    
</div>

<script type="text/javascript">
/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
var disqus_shortname = 'icodeten'; // required: replace example with your forum shortname
/* * * DON'T EDIT BELOW THIS LINE * * */
(function () {
    var s = document.createElement('script'); s.async = true;
    s.type = 'text/javascript';
    s.src = '//' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>